/*                                                                                                                                                     
        Name: Justin Nguyen                                                                                                                                       
        Contact: justin_nguyen@student.uml.edu                                                                                                                    
        Major: Computer Science                                                                                                                                   
        School: University of Massachusetts Lowell                                                                                                                
        Date created: September 3, 2015                                                                                                                           
        91.461 Assignment 5: Formatting Dynamic Text                                                                                             
        Description: This page was created as the home page of my website                                                                                  
        Copyright [2015] by Justin Nguyen. All rights reserved.                                                                                                   
        May be freely copied or excerpted for educational purposes with credit to the author.                                                                     
*/

body.main {
    min-height: 100%;
    margin-bottom: 2em;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: royalblue;
    font-size: 50px;
    font-family: sans-serif;
    border: 5px solid black;
    border-radius: 25px;
}

/* CSS for my description section */
.description {
    padding-bottom: 3%;
    text-align: center;
}

/* Code to keep images centered on the page */
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Some code for a CSS reset from Ramon Meza from Piazza */
html, body {
    background-color: #b0c4de;
    font-family: 'Josefins Sans', sans-serif;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    padding-left: 7%;
    padding-right: 7%;
}

/* Centers images on a page. */
.displayed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

/* CSS code I created to keep the text at the bottom of the page. */
#footer {
    clear: both;
    position: relative;
    text-align: center;
    z-index: 10;
    height: 2em;
    margin-top: 0em;
}

.clearfooter {
    height: 100px;
    clear: both;
}

/* No underline for links */
.no-underline {
    text-decoration: none;
}

li.nav { 
    /* float: left; */
    display: inline-block; 
}

.in-block {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    /*padding-left: 15%;*/
    padding-bottom: 4%;
}

li.links { padding-bottom: 5%}

/* Assignment links */
#assign {
    list-style-type: none;
    float: left;
}

/* Still figuring out how to make the navigation bar centered for all screens */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    /*padding-left: 15%;*/
    padding-bottom: 4%;
}

/* This section was taken from the w3school.                                                                                                                      
   Source at http://www.w3schools.com/css/css_navbar.asp# */

a.links:link, a.links:visited {
    display: block;
    width: 140px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #162d97;
    border-radius: 25px;
    box-shadow: 5px 5px black;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}


a.links:hover, a.links:active {
    background-color: #5471f8;
    cursor: pointer;
}

.column {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
/* End of w3school's CSS code */


/* Created so I can have images to the right of text */
img.float-right {
    float: right;
}

/* Line seperator to seperate content */
hr {
    color: #222;
    margin-left: 20%;
    margin-right: 20%;
}

/* This CSS is for assignment 5
   I went with the simple look and clean look.*/
.title {
    font-family: Helvectica, Arial;
    text-align: center; 
    color: #5A90D3;
    display: inline-block;
    float: left;
    border: none;
    font-weight: bold;
}

.author, .date, .album {
    text-align: right;
}

.date {
    font-style: italic;
    background: #2d6277;
}

.album {
    background: #4fa2c4;
}

.author {
    padding-top: 5%;
    font-weight: bold;
}

#bold {
    font-weight: bolder;
}

.url {
    float: right;
    border: 4px solid black;
}

/* CSS for assignment 6 */

td {
    border:1px solid black;
    width:40px;
    text-align:center;
    background:#fff;
    color: #222;
}

td:first-child {
    background: royalblue;
    color: #fff;
    font-weight: bold;
}

tr:first-child > td{
    background: royalblue;
    color: #fff;
    font-weight: bold;
}

table {
    float: left;
}

.math-rules {
    display: block;
    float: right;
    
}